In [2]:
import pandas as pd

df =pd.read_csv('adult.data.csv')
(df.loc[((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')) & (df['salary']=='>50K')].shape[0]/df.shape[0])*100

10.706059396210192

In [27]:

df.loc[df['salary'] == '>50K', 'native-country'].value_counts()

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: count, dtype: int64

In [34]:
((df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts()) * 100).idxmax()

'Iran'